.login-dialog {
    width: 500px;
    margin: 40px auto;
}

.login-dialog .dropdown {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.login-dialog .dropdown button {
    width: 100%;
    text-align: left;
    padding: .25rem 1.5rem;
}

.login-dialog .dropdown button::after {
    position: absolute;
    right: 15px;
    top: calc(50% - 2.5px);
}

.login-dialog .dropdown-menu.show {
    width: 100%;
}

.login-dialog .dropdown .img-container {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
}

.login-dialog .dropdown .img-container img {
    width: 100%;
}

.login-dialog .btn-primary {
    margin-top: 20px;
    width: 100%;
}

.login-dialog .btn-primary[disabled] {
    opacity: 0.65;
    pointer-events: none;
}